body {
  background-image: url(../css/img/spikes.png);
}

.logo {
  font-family: 'Modak', cursive;
}

.logo a {
  color: rgba(0, 0, 0,.9);
}

.logo a:hover
.logo a:active {
  text-decoration: none;
}
